@inherits LayoutComponentBase

<MatDrawerContainer Style="width: 100%; height: 100%;">
    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal" Style="padding-top:0px; width:229px;background-color: #202020; border:none">

        <div style="background-color: rgba(0, 0, 0, 0.85); width:auto;">
            <div style="color:#fff;height: 56px;line-height:56px;
                        text-transform: uppercase;font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: center;margin:auto">
                SYSGED SOFTWARE
            </div>
        </div>
        <div style="height:56px">

        </div>
        <MatNavMenu Style="margin-top:0px;">

            <MatNavItem OnClick="ButtonClicked" Style="width:inherit">
                <MatIcon Icon="@MatIconNames.Dashboard" Class="bar-side-icons-style"></MatIcon>
                <span class="bartext-color">
                    DashBoard
                </span>
            </MatNavItem>
            <MatNavItem>
                <MatIcon Icon="@MatIconNames.Important_devices" Class="bar-side-icons-style"></MatIcon>
                <span class="bartext-color">Secretaria General</span>
            </MatNavItem>
            <MatNavItem>
                <MatIcon Icon="@MatIconNames.Gavel" Class="bar-side-icons-style"></MatIcon>
                <span Class="bartext-color">Tribunal de Honor</span>
            </MatNavItem>
            <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
                <MatNavSubMenuHeader Class="sub-menu-arrow">
                    <MatNavItem>
                        <MatIcon Icon="@MatIconNames.How_to_vote" Class="bar-side-icons-style"></MatIcon>
                        <span class="bartext-color">Mesa de Partes</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem>
                        <span class="sub-bartext-color">Folios y Documentos</span>
                    </MatNavItem>
                    <MatNavItem>
                        <span class="sub-bartext-color">Quejas y Reclamos</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
            <MatNavItem>
                <MatIcon Icon="@MatIconNames.Library_books" Class="bar-side-icons-style"></MatIcon>
                <span class="bartext-color">Tramite Documentario</span>
            </MatNavItem>
            <MatDivider></MatDivider>
            <MatNavItem>
                <MatIcon Icon="@MatIconNames.Contact_mail" Class="bar-side-icons-style"></MatIcon>
                <span class="bartext-color">Archivos de Exnotarios</span>
            </MatNavItem>
            <MatNavSubMenu>
                <MatNavSubMenuHeader Class="sub-menu-arrow">
                    <MatNavItem Style="vertical-align: middle
">
                        <MatIcon Icon="@MatIconNames.Supervised_user_circle" Class="bar-side-icons-style"></MatIcon>
                        <span class="bartext-color" Style="vertical-align: middle">Area Legal</span>
                    </MatNavItem>
                </MatNavSubMenuHeader>
                <MatNavSubMenuList>
                    <MatNavItem>
                        <span class="sub-bartext-color">Juicios y Arreglos</span>
                    </MatNavItem>
                    <MatNavItem>
                        <span class="sub-bartext-color">Asesoria Legal</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            </MatNavSubMenu>
            <MatNavItem>
                <MatIcon Icon="@MatIconNames.Vpn_key" Class="bar-side-icons-style"></MatIcon>
                <span class="bartext-color">Junta Directiva</span>
            </MatNavItem>
        </MatNavMenu>
    </MatDrawer>

    <MatDrawerContent>
        <div>
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow Style="background-color:rgb(32,32,32);height:56px">
                        <MatAppBarSection>
                            <div @onclick="ButtonClicked" role="button" class="side-bar-collapse-button">
                                <MatIcon Icon="menu" Style="color:#00bcd4"></MatIcon>
                            </div>
                            <!--LoginLink /-->
                            <MatAppBarTitle Class="admin-banner">
                                Sysged - Sistema de Gestion Documentaria del <span style="color:rgb(0,188,212);cursor:pointer;">Colegio de Notarios de Lima</span>
                            </MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.Search" Class="bar-menu-item-icon"></MatIcon>
                            </div>
                            <div class="bar-menu-item-container resize-style">
                                <MatIcon Icon="@MatIconNames.Notifications_none" Class="bar-menu-item-icon" @onclick="@OnClickNotification" RefBack="@buttonForwardRefNotification"></MatIcon>
                            </div>
                            <MatMenu @ref="MenuNotification" TargetForwardRef="@buttonForwardRef" Class="notification-card-menu"
                                     Style="background-color:rgb(68, 68, 68);margin-top:58px">
                                <NotificationMenu />
                            </MatMenu>
                            <div class="bar-menu-item-container resize-style">
                                <MatIcon Icon="@MatIconNames.Email" Class="bar-menu-item-icon"></MatIcon>
                            </div>

                            <MatCard Class="bar-menu-user-shrink" @onclick="@OnClick" RefBack="@buttonForwardRef">
                                <div style="display:inline-block">
                                    <span class="profile-name-text" >Christian Frias</span>
                                </div>
                                <div class="img-profile-container" >
                                    <img class="profile-img" src="images/default_profile_pic.jpg" />
                                </div>
                            </MatCard>

                            <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef" Class="profile-card-menu"
                                     Style="background-color:rgb(68, 68, 68);margin-top:58px;">
                                <UserMenu />
                            </MatMenu>
                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.More_vert" Class="bar-menu-item-icon"
                                        @onclick="@OnClickMore" RefBack="@buttonForwardRefMore" ></MatIcon>
                            </div>
                            
                            <MatMenu  @ref="MenuMore"  TargetForwardRef="@buttonForwardRefMore" Class="more-items">
                                <MatCard Style="width:135px;background-color:#666;">
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Configuraciones</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Soporte</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Acerca de</span>
                                    </MatListItem>
                                </MatCard>
                            </MatMenu>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>

                <MatAppBarContent>
                    <div class="content px-4">
                        @Body
                    </div>
                </MatAppBarContent>
            </MatAppBarContainer>


        </div>
    </MatDrawerContent>
</MatDrawerContainer>


@code
    {
    [Inject] IJSRuntime JS { get; set; }
    bool navSubMenuOpenState;
    bool Opened = true;
    void ButtonClicked()
    {
        Opened = !Opened;
    }
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;
 
    public void OnClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }

    ForwardRef buttonForwardRefNotification = new ForwardRef();
    BaseMatMenu MenuNotification;
 
    public void OnClickNotification(MouseEventArgs e)
    {
        this.MenuNotification.OpenAsync();
    }




    ForwardRef buttonForwardRefMore = new ForwardRef();
    BaseMatMenu MenuMore;
 
    public void OnClickMore(MouseEventArgs e)
    {
        this.MenuMore.OpenAsync();
    }
}



