@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IRepository repositorio
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
<link href="css/site.css" rel="stylesheet" />
<style>
    .span-class {
        display: block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.54);
        margin-left: 70px;
        font-family: sans-serif;
        vertical-align: middle;
    }
</style>
<MatDrawerContainer Style="width: 100%; height: 100%;" @onclick="showUserMenu2">
    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal" Style="padding-top:0px; width:229px;background-color: #202020; border:none">

        <div style="background-color: rgba(0, 0, 0, 0.85); width:auto;">
            <div style="color:#fff;height: 56px;line-height:56px;
                        text-transform: uppercase;font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: center;margin:auto">
                SISGED SOFTWARE
            </div>
        </div>
        <div style="height:56px">

        </div>
        <MatNavMenu Style="margin-top:0px;">
            @if (sesion == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (Permiso interfaz in sesion.permisosInterfaz)
                {
                    <MatNavItem OnClick="ButtonClicked" Style="width:inherit">
                        <MatIcon Icon="@MatIconNames.Dashboard" Class="bar-side-icons-style"></MatIcon>
                        <span class="bartext-color" @onclick="@(() => onclickButtonNav(interfaz.url))">
                            @interfaz.label

                        </span>
                    </MatNavItem>
                }
            }
        </MatNavMenu>
    </MatDrawer>

    <MatDrawerContent>
        <div>
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow Style="background-color: #1FA270;height:56px">
                        <MatAppBarSection>
                            <div @onclick="ButtonClicked" role="button" class="side-bar-collapse-button">
                                <MatIcon Icon="menu" Style="color:#00bcd4"></MatIcon>
                            </div>
                            <!--LoginLink /-->
                            <MatAppBarTitle Class="admin-banner">
                                SISGED - Sistema de Gestion Documentaria del <span style="color:rgb(0,188,212);cursor:pointer;">Colegio de Notarios de Lima</span>
                            </MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.Search" Class="bar-menu-item-icon"></MatIcon>
                            </div>

                            <div class="bar-menu-item-container resize-style" @onclick:stopPropagation="true" @onclick="@showNotificationMenu">
                                <MatIcon Icon="@MatIconNames.Notifications_none" Class="bar-menu-item-icon"></MatIcon>
                            </div>
                            <div Class="profile-card-menu @valueclassnotification"
                                 Style="background-color:rgb(68, 68, 68);margin-top:58px;
                                            position:absolute; top:5px;" @onclick:stopPropagation="true">


                                <MatCard Style="width:352px;background-color:rgb(68, 68, 68);margin: 10px;">
                                    <!--aqui va el for-->
                                    @foreach (NotificacionDTO notificacion in listanotificaciones)
                                    {
                                        <MatListItem Class="notification-item-style" Style="margin: 5px 3px; padding: 4px 2px;">
                                            <div class="notification-avatar">
                                                <span style="font-size:19px;height:40px;line-height:40px;color:rgb(255, 255, 255)">AC</span>
                                            </div>
                                            <div style="display:inline-block;">
                                                <span class="notification-sender">@notificacion.idemisor.usuario</span>
                                                <span class="notificatio-summary">@notificacion.titulo</span>
                                            </div>
                                            <div style="display:inline-block;">
                                                <span class="span-class">Enviado: @notificacion.fechaemision</span>
                                            </div>
                                        </MatListItem>
                                        <MatDivider Style="margin:0px"></MatDivider>
                                    }
                                </MatCard>


                            </div>

                            <div class="bar-menu-item-container resize-style">
                                <MatIcon Icon="@MatIconNames.Email" Class="bar-menu-item-icon"></MatIcon>
                            </div>

                            <AuthorizeView>
                                <Authorized>
                                    <div Class="bar-menu-user-shrink" @onclick:stopPropagation="true" @onclick="showUserMenu">
                                        <div style="display:inline-block">
                                            <span class="profile-name-text">@context.User.Identity.Name</span>                                            
                                        </div>
                                        <div class="img-profile-container">
                                            <img class="profile-img" src="images/default_profile_pic.jpg" />
                                        </div>
                                    </div>
                                    
                                    <div Class="profile-card-menu @valueclass"
                                         Style="background-color:rgb(68, 68, 68);margin-top:58px;
                                            position:absolute; top:5px;">
                                        <UserMenu valueclass="@valueclass" sesion="@sesion"></UserMenu>
                                    </div>
                                </Authorized>
                            </AuthorizeView>

                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.More_vert" Class="bar-menu-item-icon"
                                         @onclick="@OnClickMore" RefBack="@buttonForwardRefMore"></MatIcon>
                            </div>

                            <MatMenu @ref="MenuMore" TargetForwardRef="@buttonForwardRefMore" Class="more-items">
                                <MatCard Style="width:135px;background-color:#666;">
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Configuraciones</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Soporte</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Acerca de</span>
                                    </MatListItem>
                                </MatCard>
                            </MatMenu>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>

                <MatAppBarContent>
                    <CascadingValue Value="@sesion" Name="SesionUsuario">
                        <CascadingValue Value="this">
                            <div class="content px-4 render-fragment">
                                @Body
                            </div>
                        </CascadingValue>
                    </CascadingValue>
                </MatAppBarContent>
            </MatAppBarContainer>
        </div>
    </MatDrawerContent>
</MatDrawerContainer>


@code
    {

    [Inject] IJSRuntime JS { get; set; }
    bool navSubMenuOpenState;
    bool Opened = true;
    public string valueclass = "non-show";
    public string valueclassnotification = "non-show";
    //public bool cargasesion = false;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    ForwardRef buttonForwardRefNotification = new ForwardRef();
    BaseMatMenu MenuNotification;

    ForwardRef buttonForwardRefMore = new ForwardRef();
    BaseMatMenu MenuMore;

    public Sesion sesion = new Sesion();
    public bool cargasesion = true;

    //lista entradas harcodeadas
    //List<ExpedienteDTO> expedientes = new List<ExpedienteDTO>();
    List<NotificacionDTO> listanotificaciones = new List<NotificacionDTO>();

    //lista salidas
    List<BandejaDTOR> bandejaSalidas = new List<BandejaDTOR>();
    //lista Entradas
    List<BandejaEntradaDTOR> bandejaEntradas = new List<BandejaEntradaDTOR>();
    //Bandeja Unificada
    BandejaESDTOR bandejaunificada = new BandejaESDTOR();
    public HubConnection _hubConnection;
    protected override async Task OnInitializedAsync()
    {
        settingInput();
        cargasesion = false;
        var authState = await authenticationState;
        var usuario = authState.User;
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();
        Console.WriteLine("Se creo la conexión hub");
        if (usuario.Identity.IsAuthenticated)
        {
            Console.WriteLine("Usuario autenticado");
            //Obteniendo datos necesarios para la carga inicial
            var datosSesion = await repositorio.Get<Sesion>($"api/accounts/GetUserData?user={usuario.Identity.Name}");
            if (!datosSesion.Error)
            {
                sesion = (Sesion)datosSesion.Response;
                if(sesion.usuario.tipo != "cliente")
                {
                    await setearBandeja(sesion.usuario.id);
                    sesion.herramientasutilizables = obtenerListaheramientas(sesion.permisosHerram);
                    sesion.listaentradas = obtenerListaEntradas(bandejaunificada.expedienteentrada);
                    sesion.listasalidas = obtenerListaSalidas(bandejaunificada.expedientesalida);
                }
                //await setearBandejaEntrada(sesion.usuario.id);
                await Connect();
                StateHasChanged();
                cargasesion = true;
            }
            else
            {
                Console.WriteLine("algo mal");
            }
            var httpResponse = await repositorio.Get<List<NotificacionDTO>>($"api/notificacion/notificacion?id={sesion.usuario.id}");
            if (!httpResponse.Error)
            {
                listanotificaciones = (List<NotificacionDTO>)httpResponse.Response;
                Console.WriteLine("algo bien");
                StateHasChanged();
            }
            else
            {
                Console.WriteLine("no se pudo obtener la notificacion");
            }
        }
        else
        {
            Console.WriteLine("Usuario NO autenticado");
        }
    }

    public async Task Connect()
    {
        _hubConnection.On<string, ExpedienteBandejaDTO>("ReceiveMessageBandeja", (user, bandeja) =>
        {
            Item item = new Item()
            {
                nombre = bandeja.tipo,
                valor = bandeja,
                icono = "alarm_add",
                //descripcion = ((DocumentoDTO)bandeja.documento).tipo,
                descripcion = ((DocumentoDTO)bandeja.documento).tipo,
                currentPlace = "inputs",
                originPlace = "inputs",
                cliente = bandeja.cliente
            };
            sesion.listaentradas.Add(item);
            StateHasChanged();
        });

        _hubConnection.On<string, NotificacionDTO>("ReceiveNotification", (user, notificacion) =>
        {
            Console.WriteLine("se envio la notificacion");
            listanotificaciones.Add(notificacion);
            StateHasChanged();

        });

        await _hubConnection.StartAsync();
        await ConnectToRoom(sesion.usuario.usuario);
    }

    public Task DisconnectToRoom(string nombreusuario) => _hubConnection.SendAsync("DisconnectToRoom", _hubConnection.ConnectionId, nombreusuario);
    public Task ConnectToRoom(string nombreusuario) => _hubConnection.SendAsync("ConnectToRoom", _hubConnection.ConnectionId, nombreusuario);
    public Task Send(string nombreusuario, ExpedienteBandejaDTO mensaje) => _hubConnection.SendAsync("SendMessageBandeja", nombreusuario, mensaje);
    public Task SendNotificacion(string nombreusuario, NotificacionDTO mensaje) => _hubConnection.SendAsync("SendNotification", nombreusuario, mensaje);

    #region metodos
    public List<Item> obtenerListaheramientas(List<Permiso> listapermisos)
    {
        return listapermisos.Select(x => new Item() { nombre = x.label, valor = x.nombre, icono = x.icono, descripcion = "", currentPlace = "tools", originPlace = "tools" }).ToList();
    }
    public List<Item> obtenerListaEntradas(List<ExpedienteBandejaDTO> listaentrada)
    {
        if (listaentrada.ElementAt(0).tipo != null)
        {
            return listaentrada.Select(x => new Item()
            {
                nombre = x.tipo,
                valor = x,
                icono = "alarm_add",
                descripcion = ((DocumentoDTO)x.documento).tipo,
                currentPlace = "inputs",
                originPlace = "inputs",
                cliente = x.cliente
            }).ToList();
        }
        else
        {
            return new List<Item>();
        }
    }
    public List<Item> obtenerListaSalidas(List<ExpedienteBandejaDTO> listasalida)
    {
        //if (listasalida.ElementAt(0).tipo != null)
        if (listasalida.ElementAt(0).tipo != null)
        {
            return listasalida.Select(x => new Item()
            {
                nombre = x.tipo,
                valor = x,
                icono = "alarm_add",
                descripcion = ((DocumentoDTO)x.documento).tipo,
                currentPlace = "outputs",
                originPlace = "outputs",
                cliente = x.cliente
            }).ToList();
        }
        else
        {
            return new List<Item>();
        }
    }
    public void showUserMenu2()
    {
        valueclass = "non-show";
        valueclassnotification = "non-show";
    }
    public void showUserMenu()
    {
        valueclass = (valueclass == "non-show") ? "" : "non-show";
    }
    void ButtonClicked()
    {
        Opened = !Opened;
    }
    public void showNotificationMenu()
    {
        valueclassnotification = (valueclassnotification == "non-show") ? "" : "non-show";
    }
    public void navegar()
    {
        navigationManager.NavigateTo("/GestionCuentas");
    }

    public void OnClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }
    public void func()
    {
        Console.WriteLine("Hola");
    }

    public void OnClickNotification(MouseEventArgs e)
    {
        this.MenuNotification.OpenAsync();
    }

    public void OnClickMore(MouseEventArgs e)
    {
        this.MenuMore.OpenAsync();
    }
    public void settingInput()
    {
        ExpedienteDTO expedientedto1 = new ExpedienteDTO()
        {
            id = "111",
            tipo = "Denuncia",
            cliente = new Cliente()
            {
                nombre = "Pedro Paredes",
                numerodocumento = "",
                tipodocumento = "Pedro Paredes",
            },
            fechainicio = DateTime.Now,
            fechafin = null,
            documentos = new List<DocumentoExpediente>()
{
                    new DocumentoExpediente(){indice=1,iddocumento="1234",tipo="SolicitudDenuncia",fechacreacion=DateTime.Now,fechaexceso=DateTime.Now.AddDays(10),fechademora=null}
            },
            documentosobj = new List<Documento>(),
            derivaciones = new List<Derivacion>(),
            estado = "pendiente"
        };

        ExpedienteDTO expedientedto2 = new ExpedienteDTO()
        {
            id = "222",
            tipo = "Denuncia",
            cliente = new Cliente()
            {
                nombre = "Pedro Paredes",
                numerodocumento = "",
                tipodocumento = "Pedro Paredes",
            },
            fechainicio = DateTime.Now,
            fechafin = null,
            documentos = new List<DocumentoExpediente>()
{
            new DocumentoExpediente(){indice=1,iddocumento="1234",tipo="SolicitudDenuncia",fechacreacion=DateTime.Now,fechaexceso=DateTime.Now.AddDays(10),fechademora=null}
        },
            documentosobj = new List<Documento>(),
            derivaciones = new List<Derivacion>(),
            estado = "pendiente"
        };
        /*expedientes.Add(expedientedto1);
        expedientes.Add(expedientedto2);*/
    }

    //getbandeja/{usuario}
    public async Task setearBandeja(String idusuario)
    {
        var responseHttp = await repositorio.Get<BandejaESDTOR>($"api/Bandejas/getbandeja/{idusuario}");
        if (responseHttp.Error)
        {
            Console.WriteLine("Error en la bandeja de salida");
        }
        else
        {
            Console.WriteLine("Se obtuvo con exito los datos de la bandeja de salida");
            bandejaunificada = responseHttp.Response;
        }
    }

    public async Task setearBandejaSalida(String idusuario)
    {
        var responseHttp = await repositorio.Get<List<BandejaDTOR>>($"api/Bandejas/getBandeja/{idusuario}");
        if (responseHttp.Error)
        {
            Console.WriteLine("Error en la bandeja de salida");
        }
        else
        {
            Console.WriteLine("Se obtuvo con exito los datos de la bandeja de salida");
            bandejaSalidas = responseHttp.Response;
        }
    }

    public async Task setearBandejaEntrada(String idusuario)
    {
        var responseHttp = await repositorio.Get<List<BandejaEntradaDTOR>>($"api/bandejas/bandejaentrada/{idusuario}");
        if (responseHttp.Error)
        {
            Console.WriteLine("Error en la bandeja de entrada");
        }
        else
        {
            Console.WriteLine("Se obtuvo con exito los datos de la bandeja de Entrada");
            bandejaEntradas = responseHttp.Response;
        }
    }
    #endregion
    void onclickButtonNav(string url)
    {

        navigationManager.NavigateTo(url);
        //navigationManager.NavigateTo(permiso.url);
    }
}



