@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IRepository repositorio
<link href="css/site.css" rel="stylesheet" />
<MatDrawerContainer Style="width: 100%; height: 100%;" @onclick="showUserMenu2">
    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal" Style="padding-top:0px; width:229px;background-color: #202020; border:none">

        <div style="background-color: rgba(0, 0, 0, 0.85); width:auto;">
            <div style="color:#fff;height: 56px;line-height:56px;
                        text-transform: uppercase;font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: center;margin:auto">
                SYSGED SOFTWARE
            </div>
        </div>
        <div style="height:56px">

        </div>
        <MatNavMenu Style="margin-top:0px;">
            @if (sesion == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (Permiso interfaz in sesion.permisosInterfaz)
                {
                    <MatNavItem OnClick="ButtonClicked" Style="width:inherit">
                        <MatIcon Icon="@MatIconNames.Dashboard" Class="bar-side-icons-style"></MatIcon>
                        <span class="bartext-color">
                            @interfaz.label
                        </span>
                    </MatNavItem>
                }
            }
        </MatNavMenu>
    </MatDrawer>

    <MatDrawerContent>
        <div>
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow Style="background-color:rgb(32,32,32);height:56px">
                        <MatAppBarSection>
                            <div @onclick="ButtonClicked" role="button" class="side-bar-collapse-button">
                                <MatIcon Icon="menu" Style="color:#00bcd4"></MatIcon>
                            </div>
                            <!--LoginLink /-->
                            <MatAppBarTitle Class="admin-banner">
                                Sysged - Sistema de Gestion Documentaria del <span style="color:rgb(0,188,212);cursor:pointer;">Colegio de Notarios de Lima</span>
                            </MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.Search" Class="bar-menu-item-icon"></MatIcon>
                            </div>


                            <div class="bar-menu-item-container resize-style" @onclick:stopPropagation="true" @onclick="@showNotificationMenu">
                                <MatIcon Icon="@MatIconNames.Notifications_none" Class="bar-menu-item-icon"></MatIcon>
                            </div>
                            <div Class="profile-card-menu @valueclassnotification"
                                 Style="background-color:rgb(68, 68, 68);margin-top:58px;
                                            position:absolute; top:5px;" @onclick:stopPropagation="true">
                                <NotificationMenu />
                            </div>




                            <div class="bar-menu-item-container resize-style">
                                <MatIcon Icon="@MatIconNames.Email" Class="bar-menu-item-icon"></MatIcon>
                            </div>

                            <AuthorizeView>
                                <Authorized>
                                    <div Class="bar-menu-user-shrink" @onclick:stopPropagation="true" @onclick="showUserMenu">
                                        <div style="display:inline-block">
                                            <span class="profile-name-text">@context.User.Identity.Name</span>
                                        </div>
                                        <div class="img-profile-container">
                                            <img class="profile-img" src="images/default_profile_pic.jpg" />
                                        </div>
                                    </div>

                                    <div Class="profile-card-menu @valueclass"
                                         Style="background-color:rgb(68, 68, 68);margin-top:58px;
                                            position:absolute; top:5px;">
                                        <UserMenu valueclass="@valueclass"></UserMenu>
                                    </div>
                                </Authorized>
                            </AuthorizeView>

                            <div class="bar-menu-item-container">
                                <MatIcon Icon="@MatIconNames.More_vert" Class="bar-menu-item-icon"
                                         @onclick="@OnClickMore" RefBack="@buttonForwardRefMore"></MatIcon>
                            </div>

                            <MatMenu @ref="MenuMore" TargetForwardRef="@buttonForwardRefMore" Class="more-items">
                                <MatCard Style="width:135px;background-color:#666;">
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Configuraciones</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Soporte</span>
                                    </MatListItem>
                                    <MatListItem Class="more-item">
                                        <span style="font-size:14px;font-family:sans-serif;color:#ffffff">Acerca de</span>
                                    </MatListItem>
                                </MatCard>
                            </MatMenu>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>

                <MatAppBarContent>
                    <CascadingValue Value="@sesion" Name="SesionUsuario">
                        <div class="content px-4 render-fragment">
                            @Body
                        </div>
                    </CascadingValue>
                </MatAppBarContent>
            </MatAppBarContainer>


        </div>
    </MatDrawerContent>
</MatDrawerContainer>


@code
    {

    [Inject] IJSRuntime JS { get; set; }
    bool navSubMenuOpenState;
    bool Opened = true;
    public string valueclass = "non-show";
    public string valueclassnotification = "non-show";
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    ForwardRef buttonForwardRefNotification = new ForwardRef();
    BaseMatMenu MenuNotification;

    ForwardRef buttonForwardRefMore = new ForwardRef();
    BaseMatMenu MenuMore;

    Sesion sesion = new Sesion();
    bool cargasesion = true;

    protected override async Task OnInitializedAsync()
    {
        cargasesion = false;
        var authState = await authenticationState;
        var usuario = authState.User;
        if (usuario.Identity.IsAuthenticated)
        {
            Console.WriteLine("Usuario autenticado");
            //Obteniendo datos necesarios para la carga inicial
            var datosSesion =  await repositorio.Get<Sesion>($"api/accounts/GetUserData?user={usuario.Identity.Name}");
            if (!datosSesion.Error)
            {
                sesion = (Sesion)datosSesion.Response;
                sesion.herramientasutilizables = obtenerListaheramientas(sesion.permisosHerram);
            }
        }
        else
        {
            Console.WriteLine("Usuario NO autenticado");
        }

    }

    #region metodos
    public List<Tool> obtenerListaheramientas(List<Permiso> listapermisos)
    {
        return listapermisos.Select(x => new Tool() { nombre = x.label, valor = x.nombre, icono = x.icono, descripcion = "", currentPlace = "tools", componentName = "component" }).ToList();
    }
    public void showUserMenu2()
    {
        valueclass = "non-show";
        valueclassnotification = "non-show";
    }
    public void showUserMenu()
    {
        valueclass = (valueclass == "non-show") ? "" : "non-show";
    }
    void ButtonClicked()
    {
        Opened = !Opened;
    }
    public void showNotificationMenu()
    {
        valueclassnotification = (valueclassnotification == "non-show") ? "" : "non-show";
    }
    public void navegar()
    {
        navigationManager.NavigateTo("/GestionCuentas");
    }

    public void OnClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }
    public void func()
    {
        Console.WriteLine("Hola");
    }

    public void OnClickNotification(MouseEventArgs e)
    {
        this.MenuNotification.OpenAsync();
    }

    public void OnClickMore(MouseEventArgs e)
    {
        this.MenuMore.OpenAsync();
    }

    /*example : Permiso x1 = new Permiso()
        {
            nombre = "AAA"
        };
        Permiso x2 = new Permiso()
        {
            nombre = "BBB"
        };

        listaPermisos.Add(x1);
        listaPermisos.Add(x2);*/
    #endregion
}



