@using Microsoft.AspNetCore.Components


    <MatDrawerContainer Style="width: 200px; height: 100vh;">
        <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal" Class="side-bar-color">
            <div>
                <MatNavMenu>
                    <MatNavItem OnClick="ButtonClicked">Cancelar X</MatNavItem>
                    <MatNavItem OnClick="ClickMe">Item 1 - OnClick</MatNavItem>
                    <MatNavItem Disabled="true">Item 2</MatNavItem>
                    <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="all_inbox"></MatIcon>&nbsp; Item 3 - Expanded: @navSubMenuOpenState</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Href="#">Item 3.A&nbsp; <MatIcon Icon="backup"></MatIcon></MatNavItem>
                            <MatNavItem>Item 3.B&nbsp; <MatIcon Icon="build"></MatIcon></MatNavItem>
                            <MatNavItem>Item 3.C&nbsp; <MatIcon Icon="explore"></MatIcon></MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <MatNavItem><MatIcon Icon="grade"></MatIcon>&nbsp; Item 4 </MatNavItem>
                    <MatDivider></MatDivider>
                    <MatNavItem><MatIcon Icon="face"></MatIcon>&nbsp; Item 5</MatNavItem>
                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="explore"></MatIcon>&nbsp; Item 6</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Disabled="true" Href="#">Item 6.A</MatNavItem>
                            <MatNavItem>Item 6.B</MatNavItem>
                            <MatNavItem>Item 6.C</MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <MatNavItem Href="https://blazorboilerplate.com/">Blazor Boilerplate - Href</MatNavItem>
                    <MatNavItem Href="https://www.matblazor.com/">MatBlazor - Href</MatNavItem>
                </MatNavMenu>
            </div>
        </MatDrawer>
        <!--MatDrawerContent>
            <div>
                <MatButton OnClick="@((e) => ButtonClicked())">
                    @if (Opened)
                    {
                        <span>Hide Menu</span>
                    }
                    else
                    {
                        <span>Open Menu</span>
                    }
                </MatButton>
            </div>
            <p>Page Content</p>
        </MatDrawerContent-->
    </MatDrawerContainer>

    @code
    {
        [Inject] IJSRuntime JS { get; set; }
        bool navSubMenuOpenState;
        bool Opened = true;
        void ButtonClicked()
        {
            Opened = !Opened;
        }
        async Task ClickMe()
        {
            Console.WriteLine("test");
            await JS.InvokeAsync<object>("alert", "Successful OnClick!");
        }
    }

