@inject IRepository repositorio
@inject NavigationManager navigationManager
@inject ILoginService loginservice
@using SISGED.Client.Auth
<MatCard Style="width:310px;background-color:rgb(68, 68, 68);padding-top:16px;">
    <div style="display:block;margin-left:16px;padding:8px,16px;">
        <div style="height: 32px;width: 32px;margin-right:16px;display:inline-block">
            <img class="profile-img" style="display:block" src="images/default_profile_pic.jpg" />
        </div>
        <div style="display:inline-block">
            <span style="display:block;font-size:16px;color:rgb(255,255,255);font-family:sans-serif"> @sesion.usuario.datos.nombre @sesion.usuario.datos.apellido</span>
            <span style="display:block;font-size:14px;color:rgba(255, 255, 255, 0.54);font-family:sans-serif">@sesion.usuario.datos.email</span>
        </div>
    </div>
    <MatDivider></MatDivider>
    <MatListItem Class="profile-item-style">
        <MatIcon Icon="@MatIconNames.Account_circle" Class="icons-style-user-menu"></MatIcon>
        <a href="/ModificarPerfil" type="" Class="text-user-menu" role="textbox">Datos del Perfil</a>
        @*<span Class="text-user-menu">Datos del Perfil</span>*@
    </MatListItem>   
    <MatListItem Class="profile-item-style exit" @onclick="salir">
        <MatIcon Icon="@MatIconNames.Exit_to_app" Class="icons-style-user-menu"></MatIcon>
        <span Class="text-user-menu">Salir</span>
    </MatListItem>
</MatCard>

@code {        
    [Parameter] public string valueclass { get; set; }
    [Parameter] public Sesion sesion { get; set; }
    public async Task salir()
    {
        valueclass = "non-show";
        await loginservice.Logout();
        navigationManager.NavigateTo("");
    }



}
