
<li draggable="true" class="li-tool @classname" @ondragstart="@(() => HandleDragStart(herramienta))">
    <div class="tool-container">
        <MatIcon>@MatIconNames.Assistant</MatIcon>
        <div class="tool-sub-container">
            <p class="tool-name">@herramienta.nombre</p>
            <p class="tool-description">@herramienta.descripcion</p>
            @if (herramienta.cliente == null)
            {

            }
            else
            {
                <p class="tool-client-name">@herramienta.cliente.nombre  -  @herramienta.cliente.numerodocumento </p>
            }

        </div>
    </div>
</li>

@code {
    [CascadingParameter] public WorkEnvironment workSpace { get; set; }
    [Parameter] public Item herramienta { get; set; }
    public string classname = "li-drag-style";

    private void HandleDragStart(Item tool)
    {
        workSpace.currentItemDragged = tool;
    }
}
