@inject IRepository repository
<style>
    .card-derivaciones {
        margin: 5px;
        /*border: 1px solid;*/
        transition: all 0.3s ease-out;
        padding: 10px;
        border - radius: 10px;
        box - shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
        overflow: hidden;
    }
</style>

<hr />
<div class="card-derivaciones">                  
    <p>@derivacion.tipo</p>
    <p>Usuario: @derivacion.usuarioemisor</p>
    <p>Área destino: @derivacion.areadestino</p>    
    <p>Área procedencia: @derivacion.areaprocedencia</p>
    <p>Fecha derivación: @derivacion.fechaderivacion</p>
</div>

@code {
    [Parameter]
    public Derivacion derivacion { get; set; }


    private Usuario usuario = new Usuario();
    public Rol rol = new Rol();
    private string usuarioEmisorId;

    protected async override Task OnInitializedAsync()
    {
        usuarioEmisorId = derivacion.usuarioemisor;
        Console.WriteLine(usuarioEmisorId);
       // await getUsuario();
        //await getRol();
    }
    //public async Task getUsuario()
    //{
    //    var responseHttp = await repository.Get<Usuario>($"api/usuarios/id?id=5ed460cd9695cd5e20d952e3");
    //    if (responseHttp.Error)
    //    {
    //        //carga = false;
    //        Console.WriteLine("Ha ocurrido un error al traer usuario");
    //    }
    //    else
    //    {

    //        usuario = responseHttp.Response;
    //        Console.WriteLine(usuario.id + "holaaaaaaaaaaaaa");
    //    }
    //}

    //public async Task getRol()
    //{
    //    var responseHttp = await repository.Get<Rol>($"api/roles/id?id=5ecb24d749e62f2c6cf65cd9");
    //    if (responseHttp.Error)
    //    {            
    //        Console.WriteLine("Ha ocurrido un error al traer role.s");
    //    }
    //    else
    //    {

    //        rol = responseHttp.Response;
    //        Console.WriteLine(rol.descripcion + " holaaaaaaaaaaaaa");
    //    }
    //}
}
