@inject IRepository repositorio
@inject ISwalFireMessage swalfire
@using Newtonsoft.Json;
@using SISGED.Client.Pages.Samples.WorkEnvironment
@using Blazored.Typeahead
@page "/evaluar"
<link rel="stylesheet" href="css/estilosEP/styleEP.css" />
<style>
    .field-container-a {
        display: block;
        padding: 10px;
    }

    .alineacion-a {
        text-align: left !important;
    }
    .alineacion-b {
        display: flex;
        justify-content: center;
    }

    .text-field-style {
        display: block !important;
    }

    .base-field {
        flex-basis: 100%;
    }

    .single-textfield-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-participantes {
        padding-top: 10px;
        margin: 20px;
        border: 2px solid #666666;
        border-radius: 5px;
    }

    .titulo {
        color: #d9d9d9;
    }

    .titulo-paticipantes {
        border: 1px solid black;
        margin: 0px 5px 0px 5px;
        border-radius: 5px 5px 0px 0px;
        background-color: #404040;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    * {
        color: black;
    }

    .div-form {
        background-color: #a6a6a6;
        flex-basis: 10%;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }

    .field-container {
        padding: 20px;
    }

    div.tool-content-style {
        width: 100%;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        background-color: #a6a6a6;
        border-radius: 5px 5px 0px 0px;
    }

    .caja-vista-doc {
        display: flex;
        flex-direction: column;
        flex-basis: 90%;
        align-items: center;
        justify-content: initial !important;
    }

    .sub-but {
        width: 49%;
    }
    .sub-but-c {
        width: 100%;
    }
    .sub-but-a {
        width: 45%;
    }

    .mat-success-c {
        color: green !important;
        border: 1px solid green !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .mat-error-c {
        color: red !important;
        border: 1px solid red !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }
    .dialogo .mdc-dialog__surface {
        max-width: none !important;
        width: 400px;
    }
</style>
@if (DocumentoRevisado)
{
    <div class="div-form">
        <div class="field-container">
            <h4>Este documento no se puede evaluar</h4>
        </div>
    </div>
}
else
{
    <div class="tool-content-style">
        <div class="caja-vista-doc">
            <div class="div-form">
                <MatTabGroup>
                    <MatTab Label="Evaluación por junta">
                        <div class="contenedor-participantes">
                            <div class="titulo-paticipantes">
                                <div><span class="titulo">Datos del participante</span></div>
                            </div>
                            <div class="single-textfield-container">
                                <div class="field-container-a base-field">
                                    <BlazoredTypeahead SearchMethod="match" @bind-Value="@participanteElegido" Placeholder="Ingrese el dni del participante" Class="text-field-style">
                                        <SelectedTemplate>
                                            <strong> N° DNI: @context.datos.numerodocumento</strong>
                                        </SelectedTemplate>
                                        <ResultTemplate>
                                            <strong> N° DNI: @context.datos.numerodocumento - Nombre: @context.datos.nombre @context.datos.apellido </strong>
                                        </ResultTemplate>
                                        <NotFoundTemplate>
                                            <span style="color:red;font-size:20px">NO SE ENCONTRARON RESULTADOS</span>
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                @if (participanteElegido == null)
                                {
                                    <div class="field-container-a base-field">
                                        <MatTextField @bind-Value="@nada" ReadOnly="true" Class="text-field-style" Label="Nombre del participante"></MatTextField>
                                    </div>
                                    <div class="field-container-a base-field">
                                        <MatTextField @bind-Value="@nada" ReadOnly="true" Class="text-field-style" Label="Apellido del participante"></MatTextField>
                                    </div>
                                }
                                else
                                {
                                    <div class="field-container-a base-field">
                                        <MatTextField @bind-Value="@participanteElegido.datos.nombre" ReadOnly="true" Class="text-field-style" Label="Nombre del participante"></MatTextField>
                                    </div>
                                    <div class="field-container-a base-field">
                                        <MatTextField @bind-Value="@participanteElegido.datos.apellido" ReadOnly="true" Class="text-field-style" Label="Apellido del participante"></MatTextField>
                                    </div>
                                }
                                <div class="field-container-a base-field">
                                    <MatButton Icon="@MatBlazor.MatIconNames.Check_circle_outline" Class="mat-success-c sub-but-a" OnClick="@AgregarParticipante">Aprobó</MatButton>
                                    <MatButton Icon="@MatBlazor.MatIconNames.Highlight_off" Class="mat-error-c sub-but-a" OnClick="@(e => { OpenDesaprobadovarios = true; })">Desaprobó</MatButton>
                                </div>
                            </div>
                        </div>

                        @if (datosParticipantes.Count != 0)
                        {
                            <div class="mat-layout-grid alineacion-b">
                                <div class="mat-layout-grid-inner">
                                    @foreach (var participante in listadopaginacion)
                                    {
                                        <div class="mat-layout-grid-cell-span-4 alineacion-a">
                                            <UsuarioParticipanteC usuarioParticipanteEvaluacion="participante" @key="participante.id"
                                                                  mostrarDatosParticipante="ModificarParticipante" eliminarParticipante="EliminarParticipante"></UsuarioParticipanteC>
                                        </div>
                                    }
                                </div>
                            </div>

                            <PaginationBootstrap currentPage="paginaactual" totalPages="paginastotales()" radio="2" selectedPage="paginaSeleccionada"></PaginationBootstrap>

                            <div class="field-container">
                                <MatButton Class="sub-but-c" Outlined="true" OnClick="@EvaluacionPorJunta">Concluir evaluación</MatButton>
                            </div>
                        }

                        <MatDialog @bind-IsOpen="@OpenDesaprobadovarios">
                            <MatDialogTitle>El participante ha desprobado el documento </MatDialogTitle>
                            <MatDialogContent>
                                <MatTextField Label="Escriba el motivo de la desaprobación" @bind-Value="@observacion"></MatTextField>
                            </MatDialogContent>
                            <MatDialogActions>
                                <MatButton OnClick="@AgregarParticipante">Aceptar</MatButton>
                                <MatButton OnClick="@(e => { OpenDesaprobadovarios = false; })">Cancelar</MatButton>
                            </MatDialogActions>
                        </MatDialog>

                        <MatDialog @bind-IsOpen="@OpenModificar" Class="dialogo">
                            <MatDialogTitle>Modificar evaluación del participante </MatDialogTitle>
                            <MatDialogContent>
                                <MatTextField @bind-Value="@participanteSeleccionado.datos.nombre" ReadOnly="true" Class="text-field-style" Label="Nombre del participante"></MatTextField>
                                <MatTextField @bind-Value="@participanteSeleccionado.datos.apellido" ReadOnly="true" Class="text-field-style" Label="Apellido del participante"></MatTextField>
                                <MatTextField @bind-Value="@participanteSeleccionado.datos.numerodocumento" ReadOnly="true" Class="text-field-style" Label="DNI del participante"></MatTextField>
                                @if (estadoModificado == "Aprobado")
                                {
                                    <MatTextField Label="Observación" @bind-Value="@observacionModificada" ReadOnly="true"></MatTextField>
                                }
                                else
                                {
                                    <MatTextField Label="Observación" @bind-Value="@observacionModificada"></MatTextField>
                                }
                                <select class="form-control-lg custom-select my-2" @onchange="CambioEstado">
                                    <option Value="@participanteSeleccionado.status" selected>@participanteSeleccionado.status</option>
                                    @if (participanteSeleccionado.status == "Aprobado")
                                    {
                                        <option Value="Desaprobado">Desaprobado</option>
                                    }
                                    else
                                    {
                                        <option Value="Aprobado">Aprobado</option>
                                    }
                                </select>

                            </MatDialogContent>
                            <MatDialogActions>
                                <MatButton OnClick="@ConfirmarModificacion">Aceptar</MatButton>
                                <MatButton OnClick="@(e => { OpenModificar = false; })">Cancelar</MatButton>
                            </MatDialogActions>
                        </MatDialog>

                        <MatDialog @bind-IsOpen="@OpenEliminar">
                            <MatDialogTitle>¿Desea eliminar a este participante?</MatDialogTitle>
                            <MatDialogActions>
                                <MatButton OnClick="@ConfirmarEliminacion">Aceptar</MatButton>
                                <MatButton OnClick="@(e => { OpenEliminar = false; })">Cancelar</MatButton>
                            </MatDialogActions>
                        </MatDialog>

                    </MatTab>


                    <MatTab Label="Evaluación individual">
                        <div class="field-container">
                            <MatButton Icon="@MatBlazor.MatIconNames.Check_circle_outline" Class="mat-success-c sub-but" OnClick="@(e => { OpenAprobado = true; })">Aprobar</MatButton>
                            <MatButton Icon="@MatBlazor.MatIconNames.Highlight_off" Class="mat-error-c sub-but" OnClick="@(e => { OpenDesaprobado = true; })">Desaprobar</MatButton>
                        </div>
                        <MatDialog @bind-IsOpen="@OpenAprobado">
                            <MatDialogTitle>¿Desea aprobar este documento?</MatDialogTitle>
                            <MatDialogActions>
                                <MatButton OnClick="@EvaluacionIndividual">Aceptar</MatButton>
                                <MatButton OnClick="@(e => { OpenAprobado = false; })">Cancelar</MatButton>
                            </MatDialogActions>
                        </MatDialog>

                        <MatDialog @bind-IsOpen="@OpenDesaprobado">
                            <MatDialogTitle>¿Desea desaprobar este documento?</MatDialogTitle>
                            <MatDialogContent>
                                <MatTextField Label="Motivo de la desaprobación del documento" @bind-Value="@observacion"></MatTextField>
                            </MatDialogContent>
                            <MatDialogActions>
                                <MatButton OnClick="@EvaluacionIndividual">Aceptar</MatButton>
                                <MatButton OnClick="@(e => { OpenDesaprobado = false; })">Cancelar</MatButton>
                            </MatDialogActions>
                        </MatDialog>
                    </MatTab>
                </MatTabGroup>
            </div>
        </div>
    </div>
}
@code {
    [CascadingParameter] WorkEnvironment workspace { get; set; }
    [CascadingParameter(Name = "SesionUsuario")] protected Sesion sesion { get; set; }
    private string observacion = "";
    public string estadoModificado = "";
    private string observacionModificada = "";
    public Evaluacion evaluacion;
    public Usuario participanteElegido { get; set; }
    public List<UsuarioEvaluacionDTO> datosParticipantes;
    public List<UsuarioEvaluacionDTO> listadopaginacion;
    public UsuarioEvaluacionDTO participanteSeleccionado;
    public string nada = "";
    private bool OpenAprobado = false;
    private bool OpenDesaprobado = false;
    private bool OpenDesaprobadovarios = false;
    private bool OpenEliminar = false;
    private bool OpenModificar = false;
    private bool DocumentoRevisado;
    public int paginaactual = 1;

    protected override void OnInitialized()
    {
        datosParticipantes = new List<UsuarioEvaluacionDTO>();
        listadopaginacion = new List<UsuarioEvaluacionDTO>();
        participanteSeleccionado = new UsuarioEvaluacionDTO();
        evaluacion = new Evaluacion();
        //string tipo = workspace.expedienteseleccionado.documento.tipo;
        //if (tipo == "OficioDesignacionNotario" || tipo == "Resolucion" || tipo == "Apelacion" || tipo == "OficioBPN")
        //{
        //    Evaluacion evaluacion = JsonConvert.DeserializeObject<Evaluacion>(workspace.expedienteseleccionado.documento.evaluacion.ToString());
        //    if (evaluacion.resultado == "pendiente")
        //    {
        //        DocumentoRevisado = false;
        //    }
        //    else
        //    {
        //        DocumentoRevisado = true;
        //    }

        //}
        //else
        //{
        //    DocumentoRevisado = true;
        //}
    }

    private async Task EvaluacionIndividual()
    {
        if (OpenAprobado)
        {
            evaluacion.resultado = "Aprobado";
            EvaluacionIndividual evaluacionIndividual = new EvaluacionIndividual();
            evaluacionIndividual.idparticipante = sesion.usuario.id;
            evaluacionIndividual.descripcion = "Ninguna";
            evaluacionIndividual.status = "Aprobado";
            evaluacion.evaluaciones.Add(evaluacionIndividual);
        }
        else if(OpenDesaprobado)
        {
            evaluacion.resultado = "Desaprobado";
            EvaluacionIndividual evaluacionIndividual = new EvaluacionIndividual();
            evaluacionIndividual.idparticipante = sesion.usuario.id;
            evaluacionIndividual.descripcion = observacion;
            evaluacionIndividual.status = "Desaprobado";
            evaluacion.evaluaciones.Add(evaluacionIndividual);
        }
        await RealizarEvaluacion();
    }

    private async Task EvaluacionPorJunta()
    {
        int cantidadAprobados = 0;
        int cantidadDesaprobados = 0;
        foreach(UsuarioEvaluacionDTO i in datosParticipantes)
        {
            EvaluacionIndividual evaluacionIndividual = new EvaluacionIndividual();
            evaluacionIndividual.idparticipante = i.id;
            evaluacionIndividual.descripcion = i.descripcion;
            evaluacionIndividual.status = i.status;
            evaluacion.evaluaciones.Add(evaluacionIndividual);
            if(i.status == "Aprobado")
            {
                cantidadAprobados++;
            }
            else if (i.status == "Desaprobado")
            {
                cantidadDesaprobados++;
            }
        }
        if(cantidadAprobados > cantidadDesaprobados)
        {
            evaluacion.resultado = "Aprobado";
        }
        else
        {
            evaluacion.resultado = "Desaprobado";
        }
        await RealizarEvaluacion();
    }

    private async Task RealizarEvaluacion()
    {
        var responseHttp = await repositorio.Put<Documento, Evaluacion>($"api/documentos/cambiarestado?docId={workspace.expedienteseleccionado.documento.id}", evaluacion);
        if (responseHttp.Error)
        {
            await swalfire.errorMessage("Error en el servidor, intentelo de nuevo");
        }
        else
        {
            await swalfire.successMessage("Documento evaluado correctamente");
            OpenAprobado = false;
            OpenDesaprobado = false;
            observacion = null;
            DocumentoRevisado = true;
        }
    }

    private async Task AgregarParticipante()
    {
        if (participanteElegido == null)
        {
            await swalfire.errorMessage("Debe ingresar los datos del participante");
        }
        else
        {
            Usuario participante = participanteElegido;
            bool registrado = false;
            foreach (UsuarioEvaluacionDTO i in datosParticipantes)
            {
                if (i.id == participante.id)
                {
                    registrado = true;
                }
            }

            if (registrado)
            {
                await swalfire.errorMessage("Este participante ya esta registrado");
            }
            else
            {
                UsuarioEvaluacionDTO usuarioEva = new UsuarioEvaluacionDTO();
                usuarioEva.id = participante.id;
                usuarioEva.datos = participante.datos;
                if (OpenDesaprobadovarios)
                {
                    usuarioEva.descripcion = observacion;
                    usuarioEva.status = "Desaprobado";
                }
                else
                {
                    usuarioEva.descripcion = "Ninguna";
                    usuarioEva.status = "Aprobado";
                }
                datosParticipantes.Add(usuarioEva);
                OpenDesaprobadovarios = false;
                observacion = "";
                participanteElegido = null;

                //if(datosParticipantes.Count < 4)
                //{
                //    paginaSeleccionada(1);
                //}

                if (datosParticipantes.Count % 3 == 0)
                {
                    int numeroActualizado = datosParticipantes.Count / 3;
                    paginaSeleccionada(numeroActualizado);
                }
                else
                {
                    int numeroActualizado = (datosParticipantes.Count / 3) + 1;
                    paginaSeleccionada(numeroActualizado);
                }

                await swalfire.successMessage("Participante ingresado");
            }
        }
    }

    public int paginastotales()
    {
        int numeroTotal = 0;
        if(datosParticipantes.Count == 0)
        {
            numeroTotal = 0;
        }
        else if (datosParticipantes.Count % 3 == 0)
        {
            numeroTotal = datosParticipantes.Count / 3;
        }
        else
        {
            numeroTotal = (datosParticipantes.Count / 3) + 1;
        }
        return numeroTotal;
    }

    public void paginaSeleccionada(int pagina)
    {
        paginaactual = pagina;
        listadopaginacion.Clear();
        for (int i = 0; i < datosParticipantes.Count; i++)
        {
            if (i >= 3 * (paginaactual - 1) && i < paginaactual * 3)
            {
                listadopaginacion.Add(datosParticipantes.ElementAt(i));
            }
        }
    }

    private void ModificarParticipante(UsuarioEvaluacionDTO participanteSeleccionado)
    {
        this.participanteSeleccionado = participanteSeleccionado;
        estadoModificado = this.participanteSeleccionado.status;
        observacionModificada = this.participanteSeleccionado.descripcion;
        OpenModificar = true;
    }

    private void EliminarParticipante(UsuarioEvaluacionDTO participanteSeleccionado)
    {
        this.participanteSeleccionado = participanteSeleccionado;
        OpenEliminar = true;
    }

    private void ConfirmarEliminacion()
    {
        datosParticipantes.RemoveAll(ind => ind.id.Equals(participanteSeleccionado.id));
        listadopaginacion.RemoveAll(ind => ind.id.Equals(participanteSeleccionado.id));
        if (datosParticipantes.Count % 3 == 0)
        {
            int numeroActualizado = datosParticipantes.Count / 3;
            paginaSeleccionada(numeroActualizado);
        }
        else
        {
            int numeroActualizado = (datosParticipantes.Count / 3) + 1;
            paginaSeleccionada(numeroActualizado);
        }
        OpenEliminar = false;
    }

    private void ConfirmarModificacion()
    {
        participanteSeleccionado.status = estadoModificado;
        participanteSeleccionado.descripcion = observacionModificada;
        datosParticipantes[datosParticipantes.FindIndex(ind => ind.id.Equals(participanteSeleccionado.id))] = participanteSeleccionado;
        listadopaginacion[listadopaginacion.FindIndex(ind => ind.id.Equals(participanteSeleccionado.id))] = participanteSeleccionado;
        OpenModificar = false;
        estadoModificado = "";
        observacionModificada = "";
    }

    public void CambioEstado(ChangeEventArgs e)
    {
        estadoModificado = e.Value.ToString();
        if(estadoModificado == "Aprobado")
        {
            observacionModificada = "Ninguna";
        }
    }

    private async Task<IEnumerable<Usuario>> match(string searchtext)
    {
        var httpResponse = await repositorio.Get<List<Usuario>>($"api/usuarios/filtroevaluar?term={searchtext}");
        if (httpResponse.Error)
        {
            return new List<Usuario>();
        }
        else
        {
            return httpResponse.Response;
        }
    }
    //private async Task Actualizar()
    //{
    //    var responseHttp = await repositorio.Put<Documento, DocumentoEvaluadoDTO>("api/Documentos/cambiarestado", documentoEvaluado);
    //    if (responseHttp.Error)
    //    {
    //        await swalfire.errorMessage("Error en el servidor, intentelo de nuevo");
    //    }
    //    else
    //    {
    //        await swalfire.successMessage("Documento evaluado correctamente");
    //        OpenAprobado = false;
    //        OpenDesaprobado = false;
    //        observacion = null;
    //        DocumentoRevisado = true;
    //    }
    //}
    //protected override void OnInitialized()
    //{
    //    documentoEvaluado = new DocumentoEvaluadoDTO();
    //    participante = new ParticipanteEvaluacion();
    //    Console.WriteLine(workspace.expedienteseleccionado.documento.tipo);
    //    string tipo = workspace.expedienteseleccionado.documento.tipo;
    //    if (tipo == "OficioDesignacionNotario" || tipo == "Resolucion" || tipo == "Apelacion" || tipo == "OficioBPN")
    //    {
    //        Evaluacion evaluacion = JsonConvert.DeserializeObject<Evaluacion>(workspace.expedienteseleccionado.documento.evaluacion.ToString());
    //        Console.WriteLine(evaluacion.status);
    //        if (evaluacion.status == "pendiente")
    //        {
    //            DocumentoRevisado = false;
    //        }
    //        else
    //        {
    //            DocumentoRevisado = true;
    //        }

    //    }
    //    else
    //    {
    //        DocumentoRevisado = true;
    //    }
    //}
    //private void AgregarParticipante()
    //{
    //    if (OpenDesaprobadovarios)
    //    {
    //        participante.resultadoEvaluacion = "desaprobado";
    //        participante.observacion = observacion.Trim();
    //    }
    //    else
    //    {
    //        participante.resultadoEvaluacion = "aprobado";
    //        participante.observacion = "Ninguna";
    //    }

    //    listaParticipantes.Add(participante);
    //    participante.nombre = "";
    //    participante.observacion = "";
    //    participante.dni = "";
    //    participante.foto = "";
    //    observacion = "";
    //    OpenDesaprobadovarios = false;
    //}
    //public void paginaSeleccionada(int pagina)
    //{
    //    paginaactual = pagina;
    //    listado.Clear();
    //    for (int i = 0; i < listaParticipantes.Count; i++)
    //    {
    //        if (i >= 3 * (paginaactual - 1) && i < paginaactual * 3)
    //        {
    //            listado.Add(listaParticipantes.ElementAt(i));
    //        }
    //    }
    //}
    //public int paginastotales()
    //{
    //    int numeroTotal = 0;
    //    if (listaParticipantes.Count % 3 == 0)
    //    {
    //        numeroTotal = listaParticipantes.Count / 3;
    //    }
    //    else
    //    {
    //        numeroTotal = (listaParticipantes.Count / 3) + 1;
    //    }
    //    return numeroTotal;
    //}
}