@page "/gestionarsolicitud"
@inject IRepository repository
@layout MainLayout
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject IJSRuntime js
@inject ISwalFireMessage swalfire

<style>
    .mdc-dialog .mdc-dialog__surface {
        width: 800px;
    }

    .mdc-paginator-container {
        color: white;
    }

    .container-c {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px auto;
    }

    tr.mdc-table-header-row {
        background-color: #1a1a1a !important;
    }

    .table-header {
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        display: inline-block
    }

    tbody {
        background-color: #4d4d4d !important;
    }

    .table-row {
        color: #ccc;
        font-family: sans-serif;
        font-size: 14px;
        display: inline-block
    }

    .mat-success-c {
        color: green !important;
        border: 1px solid green !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .mat-dark-c {
        color: black !important;
        border: 1px solid black !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }
    /*#ffd11a*/
    .mat-warning-c {
        color: #ffd11a !important;
        border: 1px solid #ffd11a !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .option-color {
        color: black !important;
    }

    .mat-danger-c {
        color: #ff3333 !important;
        border: 1px solid #ff3333 !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .mat-pay-c {
        color: #5B97FF !important;
        border: 1px solid #5B97FF !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .mat-disabled-c {
        color: #818181 !important;
        border: 1px solid #818181 !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

    .mat-info-c {
        color: #0ACD2A !important;
        border: 1px solid #0ACD2A !important;
        border-radius: 15px !important;
        font-size: 13px !important;
        transition: all 300ms !important;
    }

        .mat-success-c:hover, .mat-danger-c:hover, .mat-info-c:hover, .mat-warning-c:hover, .mat-dark-c:hover {
            background-color: none !important;
            transform: scale(1.07,1.07) !important;
        }


    .button-container {
        display: block;
        margin: 5px;
        flex-grow: 1;
    }

    .button-container-lvl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .mdc-table td:last-child {
        width: unset !important;
    }

    .head-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white
    }

    .pruebita {
        width: 300px;
        height: 200px;
        border: 1px solid black;
    }

    .loader-block {
        display: flex;
        margin-top: 20px !important;
        min-width: 800px;
        height: 300px;
        background-color: #4d4d4d;
        justify-content: center;
        justify-content: center;
        align-items: center;
    }

    .formulario-eleccion .mdc-dialog__surface {
        width: 350px !important;
    }
</style>

<div class="container-c" style=" width: auto;">
    <div class="head-flex">
        <h1>Vista de Gestion de Solicitudes</h1>
        <MatTooltip Tooltip="Registrar Solicitud!" Wrap="true" Position="@MatTooltipPosition.Left">
            <MatFAB Icon="@MatIconNames.Add" @onclick="@OpenDialogRegistrar"></MatFAB>
        </MatTooltip>
    </div>
    @if (cargatabla == true)
    {
        <div class="loader-block">
            <div class="spinner-border" style="width: 7rem; height: 7rem; color: #ccc;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {


        <MatTable Items="docs" class="mat-elevation-z5" Style="width:auto">
            <MatTableHeader>
                <th>
                    <span class="table-header">Titulo</span>
                </th>
                <th>
                    <span class="table-header">Tipo</span>
                </th>
                <th>
                    <span class="table-header">Estado</span>
                </th>
                <th>
                    <span class="table-header">Fecha</span>
                </th>
                <th>
                    <span class="table-header">Funciones</span>
                </th>
            </MatTableHeader>
            <MatTableRow>

                @{
                        int index = context.historialcontenido.Count;

                    <td>
                        <span class="table-row">@context.contenido.titulo</span>
                    </td>
                    <td>
                        <span class="table-row">@context.tipo</span>
                    </td>
                    <td>
                        <span class="table-row">@context.estado</span>
                    </td>
                    @if (index > 0)
                        {
                        <td>
                            <span class="table-row">@context.historialcontenido[index - 1].fechamodificacion</span>
                        </td>
                        }
                        else
                        {
                        <td>
                            <span class="table-row">No hay historial disponible</span>
                        </td>
                        }
                    /**/
                    <td>
                        @if (context.estado == "revisado" || context.estado == "cancelado" || context.estado == "finalizado" || context.estado == "emitido") { activator = true; }
                            else { activator = false; }
                        <div class="button-container-lvl">
                            <div class="button-container">
                                <MatButton Icon="@MatIconNames.Description" Class="mat-info-c" OnClick="@(()=>OpenDialogVerDetalles(context.id))" Style="width:100% !important">Ver Detalles</MatButton>
                            </div>
                            <div class="button-container">
                                @if (activator == false)
                                    {
                                    <MatButton Icon="@MatIconNames.Build" Class="mat-warning-c" OnClick="@(()=>OpenDialogModificar(context.id))" Style="width:100% !important">Modificar</MatButton>

                                    }
                                    else
                                    {
                                    <MatButton Icon="@MatIconNames.Build" Class="mat-disabled-c" Disabled="true" OnClick="@(()=>OpenDialogModificar(context.id))" Style="width:100% !important">Modificar</MatButton>

                            }
                    </div>
                    <div class="button-container">
                        @if (activator == false)
                            {
                            <MatButton Icon="@MatIconNames.Cancel_presentation" Class="mat-danger-c" OnClick="@(()=>abrirNotificacionEstado(context.id))" Style="width:100% !important">Cancelar</MatButton>

                            }
                            else
                            {
                            <MatButton Icon="@MatIconNames.Cancel_presentation" Class="mat-disabled-c" Disabled="true" OnClick="@(e => abrirNotificacionEstado(context.id))" Style="width:100% !important">Cancelar</MatButton>

                                    }
                            </div>
                            <div class="button-container">
                                @if (context.estado == "emitido")
                                    {
                                    <MatButton Icon="@MatIconNames.Payment" Class="mat-pay-c" Disabled="false" OnClick="@(() => Pagar(context.id))" Style="width:100% !important">Pagar</MatButton>
                                    }
                            </div>


                        </div>


                    </td>
                }



            </MatTableRow>
        </MatTable>

    }
</div>

<MatDialog @bind-IsOpen="@dialogIsOpen_Registrar">
    <RegistrarSolicitudInicial docs="docs" cerrarDialogoRegistro="cerrarDialogoRegistro"></RegistrarSolicitudInicial>
    <MatDialogActions>
        <MatButton OnClick="@OkClick" >Cancelar</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@dialogIsOpen_Modificar">
    <MatDialogTitle>Modificar Solicitud</MatDialogTitle>
    <CascadingValue Value="this">
        <ModificarSolicitudInicial docs="docs"
                                   cerrarDialogoModificacion="cerrarDialogoModificacion"
                                   solicinicialdto="solicinicialdto" />
    </CascadingValue>
    <MatDialogActions>
        <MatButton OnClick="@OkClick">Cancelar</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@dialogIsOpen_VerDetalles">
    <MatDialogTitle>Detalles de la Solicitud</MatDialogTitle>
    <CascadingValue Value="this">
        <DetalleSolicitudInicial solicinicialdto="solicinicialdto" cerrarDialogoDetalle="cerrarDialogoDetalle" />
    </CascadingValue>
    <MatDialogActions>
        <MatButton OnClick="@OkClick">Cancelar</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    string TipoSolicitud;
    string TipoSolicitud2;
    string tipo_front;
    bool activator;

    public bool cargatabla { get; set; } = false;
    private bool dialogIsOpen_Registrar = false;
    private bool dialogIsOpen_Modificar = false;
    private bool dialogIsOpen_VerDetalles = false;
    bool dialogIsOpen_Cancelar = false;

    bool Registrar_SolicDenuncia = false;
    bool Registrar_SolicBPN = false;
    bool Registrar_SolicEF = false;
    [CascadingParameter]
    MainLayout layout { get; set; }
    [CascadingParameter(Name = "SesionUsuario")] protected Sesion sesion { get; set; }

    public SolicitudInicialDTO solicinicialdto = new SolicitudInicialDTO();
    public List<DocumentoADTO2> docs { get; set; } = new List<DocumentoADTO2>();

    protected override async Task OnInitializedAsync()
    {

        var httpResponse = await repository.Get<List<DocumentoADTO2>>($"api/documentos/documentosolicitudes/{sesion.usuario.datos.numerodocumento}");
        if (!httpResponse.Error)
        {
            DocumentoADTO2 docActivator = new DocumentoADTO2();
            docs = httpResponse.Response;
            if (docActivator.estado == "revisado")
            {
                activator = true;
            }
            else
            {
                activator = false;
            }
        }
        else
        {
            Console.WriteLine("Ocurrio un error");
        }
        cargatabla = false;
    }

    void CancelButton()
    {
        Registrar_SolicDenuncia = false;
        Registrar_SolicBPN = false;
        Registrar_SolicEF = false;
    }



    void OpenDialogRegistrar()
    {
        dialogIsOpen_Registrar = true;
        //navigationManager.NavigateTo("solicitud/crear");
    }

    public async Task OpenDialogVerDetalles(string id)
    {

        SolicitudInicialDTO docadto = new SolicitudInicialDTO();
        var httpResponse = await repository.Get<SolicitudInicialDTO>($"api/documentos/obtenersolicitudinicial?iddoc={id}");
        if (!httpResponse.Error)
        {
            docadto = httpResponse.Response;
            solicinicialdto.contenidoDTO.titulo = docadto.contenidoDTO.titulo;
            solicinicialdto.contenidoDTO.descripcion = docadto.contenidoDTO.descripcion;
            dialogIsOpen_VerDetalles = true;
        }
        else
        {
            await swalfire.errorMessage("Ocurrio un error al abrir el modal, intentelo más tarde");
        }

    }
    public async Task OpenDialogModificar(string id)
    {
        SolicitudInicialDTO docadto = new SolicitudInicialDTO();
        var httpResponse = await repository.Get<SolicitudInicialDTO>($"api/documentos/obtenersolicitudinicial?iddoc={id}");
        if (!httpResponse.Error)
        {
            docadto = httpResponse.Response;
            solicinicialdto.id = docadto.id;
            solicinicialdto.contenidoDTO.titulo = docadto.contenidoDTO.titulo;
            solicinicialdto.contenidoDTO.descripcion = docadto.contenidoDTO.descripcion;
            dialogIsOpen_Modificar = true;
        }
        else
        {
            await swalfire.errorMessage("Ocurrio un error al abrir el modal, intentelo más tarde");
        }
        StateHasChanged();
    }


    void OpenDialogCancelar()
    {
        dialogIsOpen_Cancelar = true;
        //Consultar
        //Modificar
    }

    public void OkClick()
    {
        dialogIsOpen_Registrar = false;

        dialogIsOpen_Modificar = false;
        dialogIsOpen_VerDetalles = false;
        dialogIsOpen_Cancelar = false;


        TipoSolicitud = "nulo";
    }

    private async Task Pagar(string code)
    {
        var exp = await repository.Get<ExpedienteDTO>($"api/expediente/getbynested?iddoc={code}");
        DocumentoExpediente documentoExpediente = (DocumentoExpediente)(((ExpedienteDTO)exp.Response).documentos.Last());
        DocumentoDTO resultado = (DocumentoDTO)(await repository.Get<DocumentoDTO>($"api/documentos/documentodto?iddoc={documentoExpediente.iddocumento}")).Response;
        var httpResponse = await repository.Post<MercadoPagoRequest, MercadoPagoResponse>("api/mercadopago/request", new MercadoPagoRequest { aplicacion = "10", codigoreferencia = $"{code}-{documentoExpediente.iddocumento}", descripcion = "Solicitud Busqueda Protocolo Notarial", monto = $"{(resultado.tipo.Contains("BPN") ? System.Text.Json.JsonSerializer.Deserialize<ContenidoResultadoBPN>(resultado.contenido.ToString()).costo : System.Text.Json.JsonSerializer.Deserialize<ContenidoConclusionFirma>(resultado.contenido.ToString()).precio)}" });
        navigationManager.NavigateTo(httpResponse.Response.url);
    }

    public async Task abrirNotificacionEstado(string idsolic)
    {
        bool estado;
        estado = await js.InvokeAsync<bool>("SwalFireEstado", "Cancelación de Solicitud");
        if (estado == true)
        {
            SolicitudInicialDTO docadto = new SolicitudInicialDTO();
            docadto.id = idsolic;
            docadto.estado = "cancelado";
            ExpedienteWrapper expedienteWrapper = new ExpedienteWrapper();
            expedienteWrapper.documento = docadto;


            var httpResponse = await repository.Put<ExpedienteWrapper>($"api/documentos/estadosolicitud", expedienteWrapper);
            if (!httpResponse.Error)
            {
                //solicitud = new SolicitudInicialDTO();
                //_editContext = new EditContext(solicitud);
                //_editContext.MarkAsUnmodified();
                //_editContext.NotifyValidationStateChanged();
                StateHasChanged();
                Console.WriteLine("cancelacion exitosa");

            }
            else
            {
                Console.WriteLine("Algo Mal en la cancelacion");
            }
            await swalfire.successMessage("Se canceló Satisfactoriamente");

        }
        else
        {
            await swalfire.warningMessage($"Proceso de Modificacion de Estado Cancelado");
        }
        StateHasChanged();


    }

    public void cerrarDialogoRegistro(bool cerrar) => dialogIsOpen_Registrar = cerrar;
    public void cerrarDialogoModificacion(bool cerrar) => dialogIsOpen_Modificar = cerrar;
    public void cerrarDialogoDetalle(bool cerrar) => dialogIsOpen_VerDetalles = cerrar;


}
