@inject IRepository repository
@inject ISwalFireMessage swalfire
@using Blazored.Typeahead
@using SISGED.Client.Pages.Samples.WorkEnvironment
<style>
    .div-form {
        background-color: #a6a6a6;
        flex-basis: 100%;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }

    .field-container {
        display: block;
        padding: 10px;
    }

    .text-field-style {
        display: block !important;
    }
    /*validacion*/
    .validation-message {
        display: inline;
    }

    div.invalid .correcto {
        display: none;
    }

    div.valid .incorrecto,
    div.valid:not(.modified) .correcto {
        display: none;
    }

    .correcto {
        color: green !important;
        font-family: sans-serif;
        font-size: 15px;
        display: flex;
        height: 18px;
    }

    .incorrecto {
        color: red !important;
        font-family: sans-serif;
        font-size: 15px;
        display: flex;
        height: 18px;
    }

    i.val-icon {
        font-size: 20px;
    }

    .good-msg, div.correcto i.good-icon {
        color: green !important;
    }

    div.incorrecto i.bad-icon {
        color: red !important;
    }
</style>

<div class="div-form">
    <EditForm EditContext="@_editContext" Context="CurrentEditContext"
              OnValidSubmit="handleValidSubmit" OnInvalidSubmit="handleInvalidSubmit">
        <FluentValidator></FluentValidator>
        <MatTabGroup>
            <MatTab Label="Datos de la solicitud de expediente de notario">

                <div class="field-container input-group-2 @CurrentEditContext.FieldCssClass( () => solicitudexpedientenotario.contenidoDTO.titulo)">
                    <MatTextField @bind-Value="@solicitudexpedientenotario.contenidoDTO.titulo" Class="text-field-style"
                                  Label="Titulo de la solicitud" @oninput='@(e => KeyUp(e,"titulo",solicitudexpedientenotario.contenidoDTO))'></MatTextField>
                    <div class="incorrecto">
                        <MatIcon Icon="@MatIconNames.Error" Class="val-icon bad-icon"></MatIcon>
                        <ValidationMessage For="@(() => solicitudexpedientenotario.contenidoDTO.titulo)" />
                    </div>
                    <div class="correcto">
                        <MatIcon Icon="@MatIconNames.Check" Class="val-icon good-icon"></MatIcon>
                        <span class="good-msg">Correcto</span>
                    </div>
                </div>

                <div class="field-container input-group-2 @CurrentEditContext.FieldCssClass( () => solicitudexpedientenotario.contenidoDTO.descripcion)">
                    <MatTextField @bind-Value="@solicitudexpedientenotario.contenidoDTO.descripcion" Class="text-field-style"
                                  Label="Descripción de la solicitud" @oninput='@(e => KeyUp(e,"descripcion",solicitudexpedientenotario.contenidoDTO))'></MatTextField>
                    <div class="incorrecto">
                        <MatIcon Icon="@MatIconNames.Error" Class="val-icon bad-icon"></MatIcon>
                        <ValidationMessage For="@(() => solicitudexpedientenotario.contenidoDTO.descripcion)" />
                    </div>
                    <div class="correcto">
                        <MatIcon Icon="@MatIconNames.Check" Class="val-icon good-icon"></MatIcon>
                        <span class="good-msg">Correcto</span>
                    </div>
                </div>

                <div class="field-container">
                    <MatButton type="submit"
                               Disabled="@loadprocess"
                               Icon="@MatBlazor.MatIconNames.Check_circle_outline"
                               Class="button-input-style mat-success-c sub-but">Registrar Ahora</MatButton>
                </div>
            </MatTab>
        </MatTabGroup>
    </EditForm>
</div>

@code {
    //Variables de sesion
    [CascadingParameter] WorkEnvironment workspace { get; set; }
    [CascadingParameter(Name = "SesionUsuario")] protected Sesion sesion { get; set; }

    //Datos del formulario
    [Parameter] public EventCallback<ExpedienteBandejaDTO> AumentarBandeja { get; set; }
    private SolicitudExpedienteNotarioDTO solicitudexpedientenotario = new SolicitudExpedienteNotarioDTO();
    private EditContext _editContext;
    private bool loadprocess = false;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(solicitudexpedientenotario);
    }

    void KeyUp(ChangeEventArgs e, string memberName, object val)
    {
        var property = val.GetType().GetProperty(memberName);
        property.SetValue(val, e.Value.ToString());
        var fi = new FieldIdentifier(val, memberName);
        _editContext.NotifyFieldChanged(fi);
    }

    public async Task handleValidSubmit()
    {
        loadprocess = true;
        ExpedienteWrapper expedienteWrapper = new ExpedienteWrapper();
        expedienteWrapper.documento = solicitudexpedientenotario;
        expedienteWrapper.idexpediente = workspace.expedienteseleccionado.idexpediente;
        expedienteWrapper.idusuarioactual = sesion.usuario.id;
        expedienteWrapper.documentoentrada = workspace.expedienteseleccionado.documento.id;

        var httpResponse = await repository.Post<ExpedienteWrapper, SolicitudExpedienteNotario>($"api/documentos/documentoSEN", expedienteWrapper);
        if (!httpResponse.Error)
        {
            ExpedienteBandejaDTO expedientebandeja = new ExpedienteBandejaDTO();
            expedientebandeja = workspace.expedienteseleccionado;
            SolicitudExpedienteNotario solicitudExpedienteNotarioAct = new SolicitudExpedienteNotario();
            solicitudExpedienteNotarioAct = httpResponse.Response;
            expedientebandeja.documento.id = solicitudExpedienteNotarioAct.id;
            expedientebandeja.documento.tipo = solicitudExpedienteNotarioAct.tipo;
            expedientebandeja.documento.historialcontenido = solicitudExpedienteNotarioAct.historialcontenido;
            expedientebandeja.documento.historialproceso = solicitudExpedienteNotarioAct.historialproceso;
            expedientebandeja.documento.contenido = solicitudExpedienteNotarioAct.contenido;
            expedientebandeja.documento.estado = solicitudExpedienteNotarioAct.estado;
            expedientebandeja.documentosobj.Add(expedientebandeja.documento);
            Item itemSalida = new Item()
            {
                nombre = expedientebandeja.tipo,
                valor = expedientebandeja,
                icono = "alarm_add",
                descripcion = ((DocumentoDTO)expedientebandeja.documento).tipo,
                currentPlace = "outputs",
                originPlace = "outputs",
                cliente = expedientebandeja.cliente
            };
            workspace.UpdateComponentBandeja(itemSalida);
            await swalfire.successMessage("Solicitud de expediente de notario registrado correctamente");
        }
        else
        {
            await swalfire.errorMessage("Error en el servidor, intentelo de nuevo");
        }
        loadprocess = false;
    }

    public void handleInvalidSubmit()
    {
        loadprocess = false;
        swalfire.errorMessage("Por favor, Verifique los Datos Ingresados");
    }

}
